@import '@styles/fonts.css';
@import '@styles/reset.css';
.TextInputContainer {
  color: blue;
}

.LabelTextInput {
  color: green;
}

.TextInput {
  color: white;
  border-color: red;
}

.TextInputIcon {
  color: brown;
  border-color: yellow;
}

.ErrorTextInput {
  color: red;
}
