@import '@styles/fonts.css';
@import '@styles/reset.css';

// sass --watch --no-source-map button.module.scss button.module.css


// Variables
$color_button_hover:#0469e3;
$color_border: #0469e3;
$color_text_hover: white;
$color_button_nothover: white;
$color_text_nohover: #0469e3;
$color_border: #0469e3;
$font_text: var(--text_test);

.Button{
    background-color: $color_button_nothover;
    width: 6rem;
    height: 2rem;
    color: $color_text_nohover;
    font-family: $font_text;
    font-size: 1rem;
    border: 0.1rem solid $color_border;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
    overflow: hidden; /* Esconde el texto que se desborda */
    text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    cursor: pointer;
}

.Button:hover{
    background-color: $color_button_hover;
    color: $color_text_hover;
}

